<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form type="submit" action="/send" method="post">
		uid:
		<input type="text" name="uid"><br><br>
		out_date:
		<input type="text" name="out_date"><br><br>
		category:
		<input type="text" name="category"><br><br>
		selling_price:
		<input type="text" name="selling_price"><br><br>
		<input type="submit">
	</form>
	<script src="/js/app.js"></script>
</body>
</html>