<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css">
	<title>KHAZANA</title>
</head>
<body>
	<div class="h1 container">KHAZANA</div>
	<div class="h2 container">e-portal</div>
	<div class="row container">
		<button class="btn btn-dark btn-lg" id="bt1">Stock</button>
		<button class="btn btn-dark btn-lg" id="bt2">Sales</button>
	</div>
	<script src="/js/indexSCRIPT.js"></script>
</body>
</html>