<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/sales.css">
	<title>Sales</title>
</head>
<body>
	<div class="row">
		<div class="col-4">
			<form type="submit" action="/sales/send" method="post" class="container">
				<div class="row">
					Model-No:<br>
					<input type="text" name="mdno" size="13" required>
				</div><br>
				<div class="row">
					Told Price:<br>
					<input type="number" name="tp" size="13" required>
				</div><br>
				<div class="row">
					Selling Price:<br>
					<input type="number" name="sp" size="13" required>
				</div><br>
				<p id="wait" style="color:blue;"></p>
				{{>status}}
				{{>error}}
				<div class="row">
					<button type="submit" class="btn btn-info">Make Entry</button>
				</div>
			</form>
		</div>
		<div class="col">
			<div class="row">
				<div class="col">
					Show by Model_No<br>
					<input type="text" id="smdno" size="13">
				</div>
				<div class="col">
					Show by Category<br>
						<select id="scat">
							<option value="none">none</option>
						</select>
				</div>
				<div class="col">
					Show by Date<br>
					<input type="date" id="sdt" value="none">
				</div>
				<div class="col">
					Show Sales<br>
					<button id="viw" class="btn btn-info">View</button><br><br>
				</div>
				<div class="col-2">
					Reset<br>
					<button id="res" class="btn btn-info">Reset</button>
				</div>
			</div>
			<div class="row container" id="twait" style="color:blue;">
			</div><br>
			<div class="row">
				<table id="stab" style="width:50%" border="1" class="table container"></table>
			</div>
			<div class="row" id="bot">
				<div class="col-1"><button class="btn btn-secondary btn-sm" id="bt1">Stock</button></div>
				<div class="col-1"><button class="btn btn-secondary btn-sm" id="bt2">Sales</button></div>
				<div class="col"><button class="btn btn-secondary btn-sm" id="bt3">Home</button></div>
			</div>
		</div>
	</div>
	<script src="/js/salesSCRIPT.js"></script>
	<script src="/js/indexSCRIPT.js"></script>
</body>
</html>