<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/stock.css">
	<title>Stock</title>
</head>
<body>
	<form type="submit" action="/stock/send" method="post" class="container">
		<div class="row">
			<div class="col">
				Model-No:<br>
				<input type="text" name="model_no">
			</div>
			<div class="col">
				Entry Date:<br>
				<input type="date" name="entry_date" id="ed">
			</div>
			<div class="col">
				Entry Time:<br>
				<input type="text" name="entry_time" id="et">
			</div>
			<div class="col">
				Category of Item:<br>
				<input type="text" name="category">
			</div>
		</div>
		<div class="row">
			<div class="col">
				Quantity:<br>
				<input type="text" name="quantity">
			</div>
			<div class="col">
				Cost Price:<br>
				<input type="text" name="cost_price">
			</div>
			<div class="col">
				Marked Price:<br>
				<input type="text" name="marked_price">
			</div>
			<div clas="col">
				Dealer Info:<br>
				<input type="text" name="dealer_info">
			</div>
		</div><br>
		<div class="row">
			<button type="submit" class="btn btn-info">Make Entry</button>
		</div>
	</form>
	<hr>
	<div class="row container">
		<div class="col">
		Show by Category<br>
			<select id="category">
			  <option value="none" selected>none</option>
			  <option value="deo">deo</option>
			  <option value="purse">purse</option>
			  <option value="belt">belt</option>
			  <option value="watch">watch</option>
			</select>
		</div>
		<div class="col">
			Show by Date<br>
			<input type="date" id="date" value="none">
		</div>
		<div class="col">
			Show Stock<br>
			<button id="view" class="btn btn-info">View</button><br><br>
		</div>
	</div>
	<div class="row">
		<table id="show" style="width:50%" border="1" class="table container"></table>
	</div>
	<div class="row container" id="bot">
		<button class="btn btn-dark" id="bt1">Stock</button>
		<button class="btn btn-dark" id="bt2">Sales</button>
		<button class="btn btn-dark" id="bt3">Home</button>
	</div>
	<script src="/js/stockSCRIPT.js"></script>
	<script src="/js/indexSCRIPT.js"></script>
</body>
</html>